<!DOCTYPE html>
<html>
<body ng-app="myApp" ng-controller="userCtrl">

<div class="texteListe">

<h3>Textes</h3>

<table class="w3-table w3-bordered w3-striped">
  <tr>
    <th>Sélectionner</th>
    <th>Nom du texte</th>
    <th>Corpus</th>
  </tr>
  <tr ng-repeat="texte in Textes">
    <td>
      <button class="w3-btn w3-ripple" ng-click="editText(user.id)">&#9998; Edit</button>
    </td>
    <td>{{ texte.Nom }}</td>
    <td>{{ texte.Corpus }}</td>
  </tr>
</table>
<br>
<button class="w3-btn w3-green w3-ripple" ng-click="editTexte('new')">&#9998; Creer un nouveau texte</button>

<form ng-hide="hideform">
  <h3 ng-show="edit">Créer un nouveau texte:</h3>
  <h3 ng-hide="edit">Edit User:</h3>
    <label>Nom du texte:</label>
    <input class="w3-input w3-border" type="text" ng-model="Nom" ng-disabled="!edit" placeholder="First Name">
  <br>
    <label>Nom de corpus:</label>
    <input class="w3-input w3-border" type="text" ng-model="Corpus" ng-disabled="!edit" placeholder="Last Name">
  <br>
  <button class="w3-btn w3-green w3-ripple" ng-disabled="error || incomplete">&#10004; Save Changes</button>
</form>

</div>

</body>
</html>
  </div>
</div>
